/*GENERAL STYLINGS*/
* {
  padding: 0;
  margin: 0;
  font-family: 'Avenir Next';
  font-size: 12px;
}

:root {
  --primary: #9b59b6;
  --main-bg: #f5f5fa;
  --container-bg: #ffffff;
  --form-bg: #f5f5f5;
  --font-heading: #4a4a4a;
  --font-basic: #9b9b9b;
  --font-input: #999999;
}

body {
  background-color: var(--main-bg);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.small-header {
  font-size: 14px;
  color: var(--font-heading);
}

.large-header {
  font-size: 18px;
  color: var(--font-heading);
}

.one-half {
  width: 49%;
  display: inline-block;
}

.paragraph {
  color: var(--font-basic);
}

.sub-text {
  color: var(--font-basic);
  font-size: 8px;
}

/*Interactive*/
.hidden {
  display: none;
}

/*Pagination*/
.pagination {
  list-style: none !important;
}

  .page-item {
    background-color: var(--primary);
    color: white;
    margin: 5px;
    width: 45%;
    display: inline-block;
    padding: 1%  0 1% 0;
    border-radius: 25px;
  }

  .disabled {
    background-color: var(--font-input);
  }

  .page-link {
    text-decoration: none;
    color: white;
  }
/*Welcome Area*/


/*Navigation Desktop*/

.nav-container {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 60px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.02);
  top: 0;
  z-index: 20;
}

  .nav-content {
    width: 80%;
    margin: auto;
    vertical-align: middle;
  }

    .nav-left {
      text-align: left;
      width: 24%;
      display: inline-block;
    }

      .creanu {
      	color: #9B59B6;
      	font-family: 'Ubuntu';
      	font-size: 20px;
      	font-weight: 500;
      	line-height: 24px;
        padding-left: 20px;
      }

    .nav-center {
      text-align: center;
      width: 50%;
      display: inline-block;
    }

    .search-bar {
      height: 21px;
      width: 162px;
      border: 1px solid #DBDBDB;
      border-radius: 6px;
      background-color: #FAFAFA;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.03);
    }

    .search-btn {
      background-color: #ffffff !important;
      color: var(--primary);
      border: none;
      width: auto;
      height: auto;
    }

    .nav-right {
      text-align: center;
      width: 24%;
      display: inline-block;
    }

      .nav-icons {
        height: 15px;
        width: 15px;
        color: #9B59B6;
        padding-left: 20px;
        font-size: 15px;
      }

      .nav-icons:hover {
        color: var(--font-input);
      }

      .logout-btn {
        margin-right: 10px;
        color: var(--font-basic);
      }

      .logout-btn:hover {
        margin-right: 10px;
        color: var(--primary);
      }

/*Body Containers*/
  .main-container {
    width: 80%;
    margin:  100px auto 100px auto;
  }

    .left-options-container {
      width: 20%;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      padding: 0 2%;
    }

    .body-container {
      width: 45%;
      display: inline-block;
      text-align: center;
    }

    .right-options-container {
      width: 20%;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      padding: 0 2%;
    }

/*content containers*/

.content-container {
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
  padding: 2%;
  margin-bottom: 5%;
  text-align: left;
}

.content-container-clear {
  border-radius: 6px;
  padding: 2%;
  margin-bottom: 5%;
}

.content-container-comment {
  border-bottom: ;
}

.error-container {
  position: fixed;
  width: 96vw;
  height: auto;
  bottom: 0;
  text-align: left;
  z-index: 200;
  background-color: white;
  padding: 2vw;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.02);
}
/*forms*/

button {
	height: 27px;
	width: 160px;
	color: #FFFFFF;
  background-color: var(--primary);
  border-radius: 25px;
	font-family: "Avenir Next";
	font-size: 11px;
	font-weight: 500;
	line-height: 15px;
	text-align: center;
  cursor: pointer;
}

.new-post-btn {
  border-radius: 6px;
}

button:hover {
  background-color: var(--font-input);
}

#comment-input {
	height: 31px;
	width: 377px;
	border: 1px solid #DBDBDB;
	border-radius: 15.5px;
	background-color: #FAFAFA;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.02);
  font-size: 12px;
  color: var(--font-basic);
}

.caption {
  width: 94%;
  padding: 2%;
  border: 1px solid #DBDBDB;
  border-radius: 6px;
  background-color: #FAFAFA;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.02);}
}

select {
  width: 100% !important;
  border: 1px solid #DBDBDB;
  border-radius: 6px;
  background-color: #FAFAFA;
}


/*profile*/

.content-container-profile-img {
  width: 20%;
  height: auto;
  display: inline-block;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.content-container-profile-img {
  content: "";
  padding-bottom: 20%;
  display: inline-block;
}

.content-container-profile-bio {
  width: 70%;
  display: inline-block;
  vertical-align: top;
}

.profile-follow-info {
  width: 100%;
  text-align: center;
}

.profile-info {
  width: 49%;
  height: auto;
  display: inline-block;
}

/*quick containers*/
.global-form {
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(155,155,155,0.8);
  z-index: 100;
}
