/*Welcome Page*/
/*GENERAL STYLINGS*/
* {
  padding: 0;
  margin: 0;
  font-family: 'Avenir Next';
  font-size: 12px;
}

:root {
  --primary: #9b59b6;
  --main-bg: #f5f5fa;
  --container-bg: #ffffff;
  --form-bg: #f5f5f5;
  --font-heading: #4a4a4a;
  --font-basic: #9b9b9b;
  --font-input: #999999;
}
.nav-container {
  display: flex;
  width: 100vw;
  height: 100px;
  align-content: center;
  justify-content: center;

}

.large-header {
  font-size: 18px;
  color: var(--font-heading);
}
.reg-label {
  color: var(--font-basic);
}

.reg-input {
  display: block;
	height: auto;
	width: 100%;
	border: 1px solid #DBDBDB;
	border-radius: 6px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.03);
}

.creanu {
  color: white;
  font-family: 'Ubuntu';
  font-size: 50px;
  font-weight: 500;
}

.content-container {
  padding: 20px;
  border-radius: 6px;	background-color: #FFFFFF;	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
  width: 60vw;
  margin: auto;
}

body {
  background-color: var(--primary);
}

.paragraph {
  color: var(--font-basic);
}

.wlc-body-container {
  width: 100vw;
  height: 100vh;
}

  .wlc-content-right {
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: white;
  }

  .wlc-buttons {
    position: fixed;
    top: 0;
    padding: 10px 20px 0 0;
    width: 100%;
    text-align: right;
    z-index: 100;
  }

  .content-vertically-align {
      width: 50%;
      margin: auto;
  }

    .wlc-title-text {
      color: #9B59B6;
      font-family: 'Ubuntu';
      font-size: 50px;
      font-weight: 500;
      margin-bottom: 20px;
    }

input {
  height: 21px;
  border: 1px solid #DBDBDB;
  border-radius: 6px;
  background-color: #FAFAFA;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.03);
}

button {
  height: 23px;
  width: 160px;
  color: #FFFFFF;
  background-color: var(--primary);
  border-radius: 25px;
  font-family: "Avenir Next";
  font-size: 11px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}
